Accounts/*
!Accounts/*.ahk
json/*
Logs/*
Screenshots/*
Screenshots/Trades/**
!Screenshots/Trades/
!Screenshots/Trades/.gitignore
Scripts/*.ahk
Scripts/*.ini
!Scripts/1.ahk
!Scripts/Main.ahk
ids.txt
usernames.txt
vip_ids.txt
*.ini
*.bak
!.gitkeep
