json/*
!json/1.txt
Accounts/*
!Accounts/*.ahk
!Accounts/Saved/1.txt
Logs/*
!Logs/1.txt
Screenshots/*
!Screenshots/1.txt
Scripts/*.ahk
Scripts/*.ini
!Scripts/1.ahk
!Scripts/Main.ahk
Scripts/temp/*
!Scripts/temp/1.txt
HeartBeat.ini
Settings.ini
/Scripts/sample
usernames.txt
vip_ids.txt
*.bak
